.question-card-list {
	width: 100%;
	vertical-align: top;
	display: inline-block;
}
.question-card {
	color: #4B4453;
	padding: 1rem;
	height: 4rem;
	cursor: pointer;
}
.question-card:hover {
	box-shadow: 0 3px 8px rgba(0,0,0,0.05), 0 2px 2px rgba(0,0,0,0.10);
}

/* loading animation */
.question-card.loading {
	background: #e2e2e2;
	background-color: #e2e2e2;
	background-size: 200% 200%;
	background-image: linear-gradient(-45deg,#e2e2e2, #fff);
	animation: gradient 1.5s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.question-card:not(:first-of-type) {
	margin-top: 25px;
}
.question-card .tipped-container {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	text-align: center;
}
.question-card .tipped-container p {
	margin: 0;
	font-size: 80%;
	color: #845EC2;
}
.question-card .tipped-container .row-1 {
	font-weight: bold;
}
.question-card img {
	vertical-align: middle;
	margin-right: 20px;
	width: 30px;
	height: 30px;
}
.question-card .post-title {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	font-weight: bold;
	cursor: pointer;
}
.question-card .post-author {
	float: right;
	vertical-align: middle;
	font-size: 80%;
    font-weight: 400;
	margin-bottom: 0;
	margin-top: 10px;
}