
/* Question form container */
.form-container {
	margin: 0 auto;
	background: white;
	border-radius: 25px;
	padding: 25px;
	margin-bottom: 50px;
}
.form-container .form-title {
	font-size: 1.5rem;
}
.form-container form {
	margin-top: 25px;
	max-width: 850px;
}
.form-container input,
.form-container select,
.form-container textarea,
.column-mdiddle option  {
	border-radius: 25px;
}
.form-container .form-group {
	margin-top: 15px;
}
.form-container textarea {
	height: 100px;
}
.form-container .submit-button {
	background-color: #845EC2;
	border-color: #845EC2;
	border-radius: 25px;
}
.form-container .submit-button:active {
	background-color: #991200 !important;
    border-color: #991200 !important;
}

/* Question card list */
.question-card-list {
	margin-top: 25px;
	/* padding-top: 10px; */
	border-top: 1px solid #845ec240;
}
.question-card-list .questions-header {
	margin-top: 15px;
}
.question-card {
	color: #4B4453;
	margin-top: 25px;
	padding: 15px;
}
.question-card .tipped-container {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	text-align: center;
}
.question-card .tipped-container p {
	margin: 0;
	font-size: 80%;
	color: #845EC2;
}
.question-card .tipped-container .row-1 {
	font-weight: bold;
}
.question-card img {
	vertical-align: middle;
	margin-right: 20px;
	width: 30px;
	height: 30px;
}
.question-card .post-title {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	font-weight: bold;
	cursor: pointer;
}
.question-card .post-author {
	float: right;
	vertical-align: middle;
	/* display: inline-block; */
	font-size: 80%;
    font-weight: 400;
	margin-bottom: 0;
	margin-top: 10px;
}

.title-input,
.topic-select {
	margin-bottom: 15px;
}
