.navbar {
	padding: 25px;
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
.logo-container {
	margin-bottom: 15px;
}
.logo-text {
	display: inline-block;
	font-weight: normal;
	margin-left: 10px;
	vertical-align: middle;
	color: #F9F871;
	font-size: 2em;
}
.logo-text .bold {
	font-weight: bold;
}
.fa-meteor {
	color: #FF9671;
	height: 35px;
	width: 35px;
	vertical-align: middle;
}
.account {
	color: #4B4453;
	font-weight: bold;
}
.account-icon {
	position: absolute;
	right: 25px;
    top: 25px;
}
